@model Shopping.Models.Product

@{
    ViewData["Title"] = "createProduct";
    Layout = "MyLayout";
}

<h1>Create a Product and Ready to Provide Products</h1>

<h4>Product Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <input asp-for="Product_id" class="form-control" placeholder="Product ID(set ID with staring Letter 'P')"/>
                <span asp-validation-for="Product_id" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="Product_name" class="form-control" placeholder="Enter the Registered Product Name"/>
                <span asp-validation-for="Product_name" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input asp-for="type" class="form-control" placeholder="Enter the category(Clothes/Foods/Ornaments/etc.,)" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="Product_description" class="form-control" placeholder="Product Description "/>
                <span asp-validation-for="Product_description" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="Price" class="form-control" placeholder="price"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                     <label asp-for="Pimage" class="control-label"></label>
                     <input asp-for="Pimage" class="form-control" />
                     <span asp-validation-for="Pimage" class="text-danger"></span>

            </div>
            <div class="form-group">
                <select asp-for="Seller_id" class ="form-control" asp-items="ViewBag.Seller_id" placeholder="Select Seller"></select>
                
             
            </div>

            <div class="form-group">
                <input type="submit" value="Create Product" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
   <button> <a asp-action="Index">Back </a> </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
