@model IEnumerable<Shopping.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "MyLayout";
    ViewData["ShowDelete"] = true;

}
<html>
    <body>
  <div class="card-deck">
@foreach (var item in Model) {
       @await Html.PartialAsync("_ProductPartial",item,ViewData)
}
  </div> 
</body>
</html>