@model Shopping.Models.Customer

@{
    ViewData["Title"] = "Delete";
    ViewData["ShowButtons"] = false;
}

<h1>Delete</h1>
 <h2>Hi @Model.Customer_name</h2>
<h3>Are you sure you want to delete Your Profile ?</h3>
<div>
   
    <hr />
    @await Html.PartialAsync("_CustomerPartial",Model,ViewData)
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Customer_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
