@model Shopping.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "MyLayout";
    ViewData["ShowButtons"] = true;
}

<h1>Explore your Details</h1>

<div>
    <h4>Customer Information</h4>
    <hr />
     @await Html.PartialAsync("_CustomerPartial",Model,ViewData)
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Customer_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
