@model IEnumerable<Shopping.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "MyLayout";
     ViewData["ShowButtons"] = true;
}

<h1>Index</h1>


<div class="card-deck">
@foreach (var item in Model) {
    @await Html.PartialAsync("_CustomerPartial",item,ViewData)
}
</div>


