@model Shopping.Models.Seller

@{
    ViewData["Title"] = "Details";
    Layout = "SellerLayout";
    ViewData["ShowButtons"]=true;}

<h1>Details</h1>

<div>
      <partial name="_SellerPartial" Model="Model" view-data="ViewData" >  </partial>
</div>