@model IEnumerable<Shopping.Models.Seller>

@{
    ViewData["Title"] = "Index";
    Layout = "SellerLayout";
    ViewData["ShowButtons"]=true;
}

<h1>Index</h1>


@foreach (var item in Model) {
   <partial name="_SellerPartial" Model="item" view-data="ViewData" >  </partial>
}
    

