@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "OffersForSenior";
}
<div class="card">
<h1>Thank you for Registering. If you Eligible, You avail the Offer
    <button>
    @ViewBag.Offer Percentage 
    </button>
    </h1>
</div>